* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
    
}

.logo {
    font-family: 'Myriad Pro';
    font-size: 80px;
    width: 100%;
    font-weight: 400;
    text-align: left;
    display: table; 
}

.logo_2 {
    color:  #000000;
    text-decoration: none;
}

.logo_1 {
    color:  #4bcaff;
    text-decoration: none;
}

.top_menu_list {
    background-color:  #35444f;
    display: flex;
    justify-content: center;
}

.a_menu {
    display: block;
    font-family: 'Myriad Pro';
    color:  #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.a_menu:hover {
    background-color:  #222f3a;
    background-size: contain;
    background-size: cover;
}

.left_menu {
    height: 400px;
    width: 280px;
    border: 1px solid;
    border-color: 222f3a;
    float: left;
    margin-top: 50px;
}

.a_left_menu {
    font-family: 'Myriad Pro';
    color:  #495863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 40.867px;
    text-align: left;
    display: block;
    text-decoration: none;
    padding: 20px;
}

.a_left_menu:hover {
    background-color:  gray;
    color: black;
    background-size: contain;
    background-size: cover;
    padding-left: 40px;
}

.ul_left_menu {
    list-style: none;
}

.kozel {
    text-align: center;
    border: 1px solid;
    float: right;
    width: 880px;
    height: 530px;
    margin-top: 50px;
    overflow: hidden;
    
}

.kozel_img {
    margin-top: 70px;
}

.kozel_img:hover {
    transform: scale(1.2);
}

.lorem {
    font-family: 'Myriad Pro';
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 30px;
    width: 830px;
    display: block;
    float: right;
    overflow: hidden;
}

.copipast {
    float: right;
    font-family: 'Myriad Pro';
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
}

.footer {
    background-color: #b5b8bb;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 5px; 
    width: 100%;
    overflow-y: hidden;
}

.a_footer_menu {
    float: left;
    font-family: 'Myriad Pro';
    color:  #010000;
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
    margin-right: 30px;
}

.a_footer_menu:hover {
    color:  #3181a6;
    text-decoration: underline;
}